
body {
	background-image: url('pictures/back9r.jpg');
	min-width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

body, html {
	width: 100%;
	height: 100%;
}

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}


.footer {
	position: relative;
	bottom: 0;
}

.footer a {
	color: black;
}