body {
	background-color: rgba(32,10,62,1);
	size: auto;
}

form {
	padding-top: 30px;
	color: white;
	margin-left: 405px;
}

label {
	width: 150px;
	display: block;
	float: left;
}

h2 {
	padding-top: 100px;
	color: white;
	text-align: center;
}

h5 {
	color: yellow;
	text-align: center;
}

img {
	margin-left: 515px;
	width: 80px;
	padding-top: 30px;
}

a {
	color: purple;
	float: left;
	display: inline-block;
}

.btn {
	margin-left: 100px;
	display: inline-block;
	float: left;
}

.connect {
	padding-top: 10px;
	display: block;
	float: left;
}
