body {
	background-color: rgba(34, 47, 62,1.0);
	min-width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
}

body, html {
	width: 100%;
	height: 100%;
}


.tiny img {
	width: 100%;
	height: auto;
}

.tiny img.img-responsive {
	width: 100%;
	height: auto;
}


.posts .row {
	margin-bottom: 0px;
}

.posts .row:last-child {
	margin-bottom: 0;
}

.posts a {
	color: black;
}

.spost {
	background-color: white;
}

.footer {
	position: relative;
	bottom: 0;
}

.footer a {
	color: black;
}
